@{
    ViewBag.Title = "WELCOME!!";
 }

<h2>@ViewBag.Message</h2>

<h6>TO THE BEST STUDY GROUP</h6>

<img src="@Url.Content("~/Content/HTML/Images/neon.jpeg")" alt="Bio Image" class="Neon"  width="1110" height=" 400"/>